<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="/css/snesController.css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script> 

<script type="text/javascript">

function ControllerButton() {}

ControllerButton.prototype.init = function( symbol, socket, keyCode )
	{
	 var self = this ;
	 this.socket = socket ;

	 this.isDown = false ;
     
     this.symbol = symbol ;


     // every mouse up/down event and every key up/down event is sent to the server, with the symbol of the sending button

	 $( '#' + symbol ).mousedown( 
		function()
			{
			 self.socket.emit( self.symbol, 'down' ) ;
			 self.isDown = true ;


			 console.log( self.symbol + ' down' ) ;
			}
	 ) ;

	 $( '#' + symbol ).mouseup( 
		function()
			{
             self.socket.emit( self.symbol, 'up' ) ;

			 self.isDown = false ;

			 console.log( self.symbol + ' up' ) ;
			}
	 ) ;


	 $( '#' + symbol ).mouseout( 
		function()
			{
			 if( !self.isDown ) return ;


			 self.isDown = false ;
			 self.socket.emit( self.symbol, 'up' ) ;

			 console.log( self.symbol + ' up' ) ;
			}
	 ) ;
     
     $( document ).keydown( 
        function( event )
            {
             if( event.keyCode == keyCode )
                {
                 self.socket.emit( self.symbol, 'down' ) ;
                 console.log( self.symbol + ' down' ) ;
                }
            } ) ;
     
     $( document ).keyup( 
        function( event )
            {
             if( event.which == keyCode )
                {
                 self.socket.emit( self.symbol, 'up' ) ;
                 console.log( self.symbol + ' up' ) ;
                }
            } ) ;
            
	 return this ;
	} ;

ControllerButton.prototype.setSymbol = function( symbol )
    {
     this.symbol = symbol ;
    } ;


function Controller() {}

Controller.prototype.init = function( socket )
	{
     // hook up the buttons, the fist arg is the symbol used to target the a tag the button is connected with, which is also the symbol
     // sent to the server. The last argument is the keyboard scan code that triggers the button. The second argument is the socket it
     // should send the key up/down events too.
     
	 this.up = ( new ControllerButton() ).init( 'controllerUp', socket, 38 ) ;
	 this.down = ( new ControllerButton() ).init( 'controllerDown', socket, 40  ) ;
	 this.left = ( new ControllerButton() ).init( 'controllerLeft', socket, 37  ) ;
	 this.right = ( new ControllerButton() ).init( 'controllerRight', socket, 39  ) ;

	 this.a = ( new ControllerButton() ).init( 'controllerA', socket, 90  ) ; // z
	 this.b = ( new ControllerButton() ).init( 'controllerB', socket, 88  ) ; // x
	 this.x = ( new ControllerButton() ).init( 'controllerX', socket, 67 ) ;  // c
	 this.y = ( new ControllerButton() ).init( 'controllerY', socket, 86 ) ;  // v

	 this.select = ( new ControllerButton() ).init( 'controllerSelect', socket, 79 ) ; // m
	 this.start = ( new ControllerButton() ).init( 'controllerStart', socket,  78) ; // n


     var self = this ;

     // when pressing L or R, invert left and right, so the player can invert controls when behind the screen
	 $( '#controllerL' ).mousedown( function() { self.swapLeftAndRight() ; } ) ;
	 $( '#controllerR' ).mousedown( function() { self.swapLeftAndRight() ; } ) ;


	 return this ;
	} ;


Controller.prototype.swapLeftAndRight = function()
    {
     var swapMe = this.left.symbol ;
    
     this.left.setSymbol( this.right.symbol ) ;
     
     this.right.setSymbol( swapMe ) ;
    
    } ;


var controller ;
$( document ).ready( function()
	{
     // create the socket connection to the server ( {{socketIoPor}} or the port number below is a var passed to this template )
     var socket = io.connect( 'http://' + location.hostname + ':'+ '{{socketIoPort}}', { 'sync disconnect on unload' : true} ) ;
     
	 setInterval( function() { socket.emit( 'alive' ) ; }, 1000 ) ;

     socket.on( 'setMessage', function( data )
        {
         console.log( data ) ;
        
         $( '#message' ).html( data ) ;
        } ) ;
    
     console.log( 'http://' + location.hostname + ':'+ '{{socketIoPort}}' ) ;
    
	 controller = ( new Controller() ).init( socket ) ;
	} ) ;

</script>
</head>

<body>
<div id="controller">
<!-- these are invisible a tags that cover the buttons on the snesController image (see the css file) -->
<a id="controllerUp" href="javascript:void(0);"  ></a>
<a id="controllerDown" href="javascript:void(0);"  ></a>
<a id="controllerLeft" href="javascript:void(0);"  ></a>
<a id="controllerRight" href="javascript:void(0);"  ></a>

<a id="controllerA" href="javascript:void(0);"  ></a>
<a id="controllerB" href="javascript:void(0);"  ></a>

<a id="controllerX" href="javascript:void(0);"  ></a>
<a id="controllerY" href="javascript:void(0);" ></a>

<a id="controllerStart" href="javascript:void(0);"> </a>
<a id="controllerSelect" href="javascript:void(0);"> </a>

<a id="controllerL" href="javascript:void(0);"> </a>
<a id="controllerR" href="javascript:void(0);"> </a>

<div id="message" > connecting </div>
</div>

</body>

</html>
